<div class="message">
  <div class="date">
    <div class="name">
      <%= message.user.name %>
    </div>
    <div class="day">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="text">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'from-image' if message.image.attached? %>
  </div>
</div>
